td:first-child {
    width: 200px;
}
td:nth-child(2) {
    width: 75px;
}
td:nth-child(3) {
    word-break: break-word;
}
td:nth-child(5) {
    word-break: break-word;
}
#row-form input[type="text"] {
    width: 400px;
}
#row-description {
    width: 400px;
    height: 100px;
    resize: none;
}
#row-topics {
    width: 350px;
}
.topic {
    color: #0969da;
    background-color: #ddf4ff;
    border: 1px solid white;
    border-radius: 8px 8px;
    padding: 4px 8px;
    display: inline;
}
.tag-list {
    margin: 8px;
    padding: 0;
    list-style: none;
}
#topic-select {
    width: 250px;
}