table {
    width: 100%;
}
td:first-child {
    width: 200px;
}
td:nth-child(2) {
    width: 75px;
}
td:nth-child(3) {
    word-break: break-word;
}
td:nth-child(5) {
    word-break: break-word;
}
#row-form input[type="text"] {
    width: 400px;
}
#row-url {
    width: 400px;
}
#row-description,
#row-note {
    width: 400px;
    height: 100px;
    resize: none;
}
#row-topics {
    width: 350px;
}
#topic-select {
    width: 250px;
}
.max-select {
    float: right;
}
.non-empty-note {
    border: 1px dotted black;
    margin: 1em 0;
    padding: 1em 1em 1em 3em;
    background-color: lightgray;
    border-radius: 16px;
    position: relative;
}
.non-empty-note:before {
    content: "🛈";
    position: absolute;
    left: 15px;
    font-size: 24px;
    line-height: 20px;
}