td:first-child {
    width: 200px;
}
td:nth-child(2) {
    width: 75px;
}
td:nth-child(3) {
    word-break: break-word;
}
td:nth-child(5) {
    word-break: break-word;
}
#row-form input[type="text"] {
    width: 400px;
}
#row-description {
    width: 400px;
    height: 100px;
    resize: none;
}