services:
  oracle:
    extends:
      file: deps.yaml
      service: oracle

  keycloak:
    extends:
      file: deps.yaml
      service: keycloak

  puppet:
    extends:
      file: deps.yaml
      service: puppet

  mailhog:
    extends:
      file: deps.yaml
      service: mailhog

  sim:
    hostname: sim
    container_name: sim
    user: dev
    ports:
      - "8443:8443"
      - "8080:8080"
      - "9990:9990"
